{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}

    <h1>Concepts</h1>

    <div>
        <table style="border: 1px solid; width: 100%;
        border-collapse:collapse;">
            <tr>
                <th style="border: 1px solid;">Concept ID</th>
                <th style="border: 1px solid;">Concept Name</th>
                <th style="border: 1px solid;">Domain ID</th>
                <th style="border: 1px solid;">Vocabulary ID</th>
                <th style="border: 1px solid;">Concept Class ID</th>
                <th style="border: 1px solid;">Concept Code</th>
            </tr>
            {% for entry in data %}
            <tr>

                <td style="border: 1px solid;">{{entry.concept_id}}</td>
                <td style="border: 1px solid;">{{entry.concept_name}}</td>
                <td style="border: 1px solid;">{{entry.domain_id}}</td>
                <td style="border: 1px solid;">{{entry.vocabulary_id}}</td>
                <td style="border: 1px solid;">{{entry.concept_class_id}}</td>
                <td style="border: 1px solid;">{{entry.concept_code}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
</body>

</html>